@model BookStore.Domain.Entities.Book
@{
    ViewBag.Tit = "Admin: Edit| " + @Model.Title;
    Layout = "~/Views/Shared/_ِAdminLayout.cshtml";
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}
<div class="panel panel-default">
    <div class="panel-heading">
        @{if (@Model.ISBN == 0)
            {
        <h3>Create New Book</h3>
            }
            else
            {<h3>Edit (@Model.Title)</h3>
            }
        }
    </div>
    @using (Html.BeginForm("Edit","Admin"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.ISBN)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "ISBN")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @if (property.PropertyName == "Description")
                        {
                            @Html.TextArea(property.PropertyName,null,
                            new { @class = "form-control", rows = 5 })
                        }
                        else
                        {
                            @Html.TextBox(property.PropertyName,null,
                            new { @class = "form-control" })
                        }
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel and return to List", "Index", null, new
       {
           @class = "btn btn-default"
       })
        </div>
    }
</div>